{
  "env": {
    "jest": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "optionalDependencies": false,
      "peerDependencies": false
    }],
    "no-unused-expressions": "off",
    "react/forbid-foreign-prop-types": "off",
    "react/no-multi-comp": "off",
    "react/prefer-stateless-function": "off"
  }
}
