{
  "rules": {
    "max-len": [2, 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "no-unused-expressions": 0,
    "react/no-multi-comp": 0,
    "react/prefer-es6-class": 0,
    "react/prefer-stateless-function": 0
  }
}
